.container {
    padding: 20px;
    font-family: "Lato", sans-serif;
    width: 200px;
    height: 400px;
  }
  
  .title {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .blocked-websites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }