.container {
    padding: 20px;
    font-family: "Lato", sans-serif;
    width: 250px;
    height: 400px;
  }
  
  .title {
    font-size: 18px;
    text-align: center;
  }
  
  .blocked-websites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1, 1fr));
    font-size: 14px;
    gap: 10px;
    padding: 20px;
    margin-left: -25px;
    margin-right: -25px;
    overflow: hidden;
    position: relative;
  }

  .blocked-websites > div {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid #ED1339;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    overflow: hidden;
  }

  .blocked-websites > div > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .blocked-websites > div > button {
    justify-self: end;
    padding: 5px 10px;
    background-color: #ED1339;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .blocked-websites > div > button:hover {
    background-color: #C4112F;
  }

  #add-button {
    position: fixed; /* Use absolute if you want it to move with the page */
    bottom: 20px;
    right: 33.5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #45a049;
}